Aplicacion que consume los WebServices con y sin BD/ConsumeServiciosWeb/Service References/ServiceReference2/Nombre.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mavenproject2.mycompany.com/" targetNamespace="http://mavenproject2.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DevuelveNombre" type="tns:DevuelveNombre" />
  <xs:element name="DevuelveNombreResponse" type="tns:DevuelveNombreResponse" />
  <xs:complexType name="DevuelveNombre">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="DevuelveNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>